.del .todo {
  display: none !important;
}

.more-details {
  background: #f4f4f4;
  width: 60%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 30px;
  box-shadow: 3px 5px 6px #b1b1b1;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .more-details {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .more-details {
    width: 95%;
  }
}

@media (min-width:320px)  { table { display: block; } }
@media (min-width:960px)  { table { display: table; } }

.more-details span {
  position: relative;
  margin: 5px 10px;
  display: inline-block;
}

.more-details button {
  padding: 10px 15px;
  color: #fff;
  border-radius: 10px;
  margin: 5px 10px;
}

.more-details .close-button {
  width: 100%;
  text-align: right;
}

.fa-circle-xmark {
  color: #ff0000;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.modal-badge {
  color: #fff;
  padding: 1px 3px;
  margin-left: 5px;
  border-radius: 3px;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  background: #00000039;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminlabel{
font-size: large !important;
}
.addtaskbtn
{
  margin-left: 10% !important;
margin-top: 5% !important;
  padding: 15px 25px !important;
  font-size: 24px !important;
  text-align: center !important;
  cursor: pointer !important;
  outline: none !important;
  color: #fff !important;
  background-color:cadetblue !important;
  border: none !important;
  border-radius: 15px !important;
}
.addtaskbtn:hover {background-color:cadetblue !important}

.addtaskbtn:active {
  background-color: cadetblue !important;
  box-shadow: 0 5px #666 !important;
  transform: translateY(4px) !important;
}
.wrap {text-align: center; 
  margin: 15px auto;
margin-left: 5vh;
}
.status {display: inline-block; text-align: left; width: 21%; margin-right: 1%;
max-height: 60%; }
.container{
  background: linear-gradient(skyblue,white);


  height:100vh !important;
}

/* 404 page--------- */
#main {
  display: table;
  width: 100%;
  height: 50vh;
  text-align: center;
  color: #888;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}